/*==============================
  GLOBAL CSS START
===============================*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p,
span {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: var(--PrimaryFont);
}

img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

input,
textarea {
    width: 100%;
    padding: 12px 20px;
    outline: none;
    resize: none;
    border: 1px solid #E4E7E9;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 300;
}

input::placeholder,
textarea::placeholder {
    color: #a6a6ac;
}

button {
    border: none;
}

:root {
    --colorPrimary: #55E6A5;
    --bgColor: #09101A;
    --bodyBg: #02050a;
    --colorWhite: #ffffff;
    --colorBlack: #02050A;
    --ratingColor: #FFBA08;
    --PrimaryFont: 'Plus Jakarta Sans', sans-serif;
    --secondaryFont: 'DM Sans', sans-serif;
}

/*==============================
  GLOBAL CSS END
===============================*/


/*==============================
  MENU START
===============================*/
.main_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 999;
}

.main_menu .main_menu_bg {
    position: relative;
    z-index: 1;
}

.main_menu .main_menu_bg::after {
    position: absolute;
    content: "";
    width: 97%;
    height: 100%;
    background: #141C27;
    top: 0;
    left: 20px;
    z-index: -1;
}

.main_menu .navbar-brand {
    width: 180px;
    height: 80px;
    margin: 0;
    padding: 0;
}

.main_menu .navbar-nav {}

.main_menu .navbar-nav .nav-item {}

.main_menu .navbar-nav .nav-item .nav-link {
    color: var(--colorWhite);
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0;
    padding: 0px 20px;
    line-height: 80px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.main_menu .navbar-nav .nav-item .nav-link i {
    font-size: 14px;
    margin-left: 3px;
}

.main_menu .navbar-nav .nav-item .nav-link:hover,
.main_menu .navbar-nav .nav-item .nav-link.active {
    color: var(--colorPrimary);
}

.main_menu .toggle_icon {
    cursor: pointer;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
    text-align: center;
    background: var(--colorPrimary);
}

.main_menu .toggle_icon i {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}




/*==============================
  MENU START
===============================*/


/*==============================
  BANNER START
===============================*/
.tf__banner {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 100vh;
    padding-top: 80px;
}

.tf__banner div {
    height: 100%;
}

.tf__banner_text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 35px;
}

.tf__banner_text h1 {
    color: var(--colorWhite);
    font-size: 100px;
    font-weight: 600;
}

.tf__banner_text h3 {
    color: var(--colorWhite);
    font-family: var(--secondaryFont);
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 25px;
    margin-bottom: 35px;
}

.tf__banner_text p {
    color: var(--colorWhite);
    font-weight: 500;
    margin-bottom: 65px;
}

.tf__banner_text ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 28px;
}

.tf__banner_text ul li {}

.tf__banner_text ul li a {
    margin-right: 30px;
}

.common_btn {
    display: flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--colorPrimary);
    color: var(--colorBlack);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.banner_video_btn {
    display: flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);
    color: var(--colorWhite);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.banner_video_btn i {
    color: var(--colorPrimary);
}

.banner_video_btn:hover {
    background: var(--colorPrimary);
    color: var(--colorBlack);
}

.banner_video_btn:hover i {
    color: var(--colorBlack);
}

.tf__banner_img {
    display: flex;
    align-items: center;
}

.tf__banner_img .img {
    height: 585px;
    position: relative;
    padding: 35px;
    z-index: 1;
}

.tf__banner_img .img::after {
    position: absolute;
    content: "";
    background: url(../images/banner_shape.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    animation: bannerAnimi1 linear 1s infinite alternate;
    -webkit-animation: bannerAnimi1 linear 1s infinite alternate;
}


@keyframes bannerAnimi1 {
    from {
        top: 5px;
    }

    to {
        top: 0;
    }
}






/*==============================
  BANNER END
===============================*/









/*==============================
  START
===============================*/

/*==============================
  START
===============================*/